<div class="container my-3">
    <div class="row">

        <div class="col-md-12">
           
                <h3 class="py-1">قائمة المراجعين</h3>
           
           
            <hr>
            <table class="table table-bordered">
                <tr>
                    <td>الاسم</td>
                    <td>الرقم الوطني</td>
                    <td class="text-center">الهاتف 1</td>
                    <td class="text-center">الهاتف 2</td>
                    <th class="text-center">العنوان</th>
                </tr>
                {{#each customer}}


                <tr>
                    
                    
                    <td>{{this.name}}</td>
                    <td>{{this.nationalID}}</td>
                    <td class="text-center">{{this.phone}}</td>
                    <td class="text-center">{{this.phone2}}</td>
                    <td class="text-center">{{this.address}}</td>
                    
                </tr>



                {{/each}}
            </table>

        </div>



    </div>
</div>