ذ<div class="container my-2">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 wow slideInUp" data-wow-delay="0.3s">
            <form action="/editOrder" method="post">
                <div class="row g-3">
                    <div class="col-12">
                        <h3 class="text-success">تعديل طلب</h3>
                        <p class="text-danger">{{message}}</p>
                    </div>
                    <div class="col-12">
                        <input type="hidden" name="id" value="{{order._id}}"/>
                        <label>نوع الطلب</label>
                            <select class="form-select bg-light border-0 mb-3" name="type" style="height: 40px;">
                                <option value="{{order.type}}">{{order.type}}</option>
                            <option value="شكوى">شكوى</option>
                            <option value="تسجيل جديد">تسجيل جديد</option>
                        </select>
                    </div>
                    <div class="col-12">
                               <label>حالة الطلب</label>
                            <select class="form-select bg-light border-0 mb-3" name="status" style="height: 40px;">
                                <option value="{{order.status}}">{{order.status}}</option>
                            <option value="قيد المعالجة">قيد المعالجة</option>
                            <option value="مغلق">مغلق</option>
                            <option value="مفتوح">مفتوح</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label>وصف</label>
                        <textarea class="form-control px-4 py-3" rows="2" name="description" placeholder="تفاصيل الطلب">{{order.description}}</textarea>
                    </div>
                    <div class="col-12">
                        <label>ملاحظات</label>
                        <textarea class="form-control px-4 py-3" rows="2" name="notes" placeholder="ملاحظات">{{order.notes}}</textarea>
                    </div>
                    
                    <div class="col-12">
                        <button class="btn btn-success w-100 py-3" type="submit">تعديل</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>